.header {
    /* background-image: url("../assets/images/sliders/mnosotros.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

body {
    position: relative;
}

.card {
    border: transparent;
    background-color: transparent;
}

.navid {
    top: 30%;
    position: sticky;
    position: -webkit-sticky;
}

div.col-9 div {
    height: 500px;
}

.menu {
    visibility: hidden;
}

@media only screen and (min-width: 768px) {
    .header {
        background-image: url("../assets/images/sliders/blog.jpg");
    }
    .menu {
        visibility: visible;
    }
}