.header {
    background-image: url("../assets/images/sliders/mcontacto.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

@media only screen and (min-width: 768px) {
    .header {
        background-image: url("../assets/images/sliders/contacto.jpg");
    }
}