/* .carousel-inner .ejemplo {
    background-image: url("../assets/images/sliders/mhome.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
} */


/* .carousel-inner {
        width: 100%;
        max-height: 200px !important;
    }
     */


/* .carousel-inner img {
    width: 100%;
    height: 100vh;
} */

.carousel-item {
    position: relative;
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.slider1 {
    background-image: url('../assets/images/sliders/home1.jpg');
}

.slider2 {
    background-image: url('../assets/images/sliders/home2.jpg');
}

.slider3 {
    background-image: url('../assets/images/sliders/home3.jpg');
}

.slider4 {
    background-image: url('../assets/images/sliders/home4.jpg');
}

.carousel-caption {
    width: 80%;
    transform: translateY(-50%);
    bottom: initial;
    top: 80%;
    /* left: 50%; */
}

.titlel {
    font-size: var(--size-title-mobile);
}

.card {
    width: 20rem;
    height: 22rem;
    border-radius: 20px;
    border: transparent;
    background-color: transparent;
    /* transition: 1.2s; */
    box-shadow: inset 0 -3px 0 -1px transparent;
    transition: box-shadow .6s ease-in-out;
}

.card:hover .svgcolor {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    transform: scale(1.1);
}

.cnosotros .svgcolor {
    filter: invert(30%) sepia(8%) saturate(5114%) hue-rotate(233deg) brightness(87%) contrast(92%);
}

.cnosotros:hover {
    box-shadow: inset 0 -100vh 0 -1px #633882;
    color: white;
}

.csoluciones .svgcolor {
    filter: invert(44%) sepia(99%) saturate(499%) hue-rotate(159deg) brightness(87%) contrast(89%);
}

.csoluciones:hover {
    box-shadow: inset 0 -100vh 0 -1px #1F8EC7;
    color: white;
}

.cproductos .svgcolor {
    filter: invert(16%) sepia(51%) saturate(5520%) hue-rotate(348deg) brightness(87%) contrast(99%);
}

.cproductos:hover {
    box-shadow: inset 0 -100vh 0 -1px #B31617;
    color: white;
}

.cservicios .svgcolor {
    filter: invert(79%) sepia(68%) saturate(330%) hue-rotate(343deg) brightness(89%) contrast(88%);
}

.cservicios:hover {
    box-shadow: inset 0 -100vh 0 -1px #E6B630;
    color: white;
}

.svgcolor {
    transition: transform 0.8s ease;
}

a.astyle {
    text-decoration: none;
    color: black;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-530px * 2));
        transform: translateX(calc(-530px * 2));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-530px * 2));
        transform: translateX(calc(-530px * 2));
    }
}

.slider {
    background: pr;
    /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
    height: 130px;
    margin: auto;
    overflow: hidden;
    position: relative;
    transition: transform 0.8s ease;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 130px;
    position: absolute;
    width: 40px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 10s linear infinite;
    animation: scroll 10s linear infinite;
    display: flex;
    width: calc(360px *6);
    /* height: calc(103px * 1); */
}

.slider .slide {
    height: 130px;
    width: 370px;
}

.imgstyle {
    width: 70%;
}

input[type],
textarea#texto {
    border-radius: 20px;
    background-color: white;
}

input[type]::placeholder,
textarea#texto::placeholder {
    color: black;
}


/* Media queries */

@media only screen and (min-width: 768px) {
    #carouselExampleIndicators {
        display: block;
    }
    .titlel {
        font-size: 40px;
    }
}

@media only screen and (min-width: 1024px) {
    .card {
        width: 17rem;
        height: 31rem;
    }
}

@media only screen and (min-width: 1440px) {
    .card {
        width: 20rem;
        height: 24rem;
    }
}