.header {
    background-image: url("../assets/images/sliders/mnosotros.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.navbar .nav-item .nosotros {
    color: #683A8A;
}

.ntitle {
    color: #683A8A;
}

.textNos {
    font-weight: 700;
    font-size: var(--size-subtitle-mobile);
}

.textNos p {
    display: inline;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    background: pr;
    /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    transition: transform 0.8s ease;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 40px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 13);
    /* height: calc(250px * 14); */
}

.slider .slide {
    height: 100px;
    width: 250px;
}


/* .slider:hover {
    transform: scale(1.1);
} */

.efectoimg {
    margin-top: 25%;
    margin-bottom: 25%;
}

.imgnos {
    width: 100%;
}

.otro2 {
    position: relative;
}

.otro {
    position: absolute;
    display: inline-block;
    top: -55%;
    left: 0%;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 40px;
}

.animate__animated {
    color: white;
    font-size: var(--size-subtitle-mobile);
}

.footer .fas,
.fab {
    background: #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input[type],
textarea#texto {
    border-radius: 20px;
    background-color: white;
}

input[type]::placeholder,
textarea#texto::placeholder {
    color: black;
}

@media only screen and (min-width: 768px) {
    .animate__animated {
        font-size: 34px;
    }
    .header {
        background-image: url("../assets/images/sliders/nosotros.jpg");
    }
    .otro {
        top: -100%;
        left: 15%;
    }
    .efectoimg {
        margin-top: 15%;
        margin-bottom: 15%;
    }
}

@media only screen and (min-width: 1024px) {
    .textNos {
        font-size: var(--size-subtitle);
    }
    .imgnos {
        width: 100%;
    }
    .otro {
        top: -130%;
        left: 26%;
    }
    .efectoimg {
        margin-top: 15%;
        margin-bottom: 15%;
    }
    .slider::before,
    .slider::after {
        background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
        content: "";
        height: 100px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }
}

@media only screen and (min-width: 1440px) {
    .otro {
        top: -150%;
        left: 28%;
    }
    .efectoimg {
        margin-top: 15%;
        margin-bottom: 15%;
    }
}