.header {
    background-image: url("../assets/images/sliders/msoluciones.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-attachment: fixed;
}

.navbar .nav-item .soluciones {
    color: #1F8EC7;
}

.stitle {
    color: #1C8FC7;
}

.card {
    width: 19rem;
    height: 16rem;
    border-radius: 20px;
    border: transparent;
    background-color: transparent;
    /* transition: 1.2s; */
    box-shadow: inset 0 -1px 0 -1px #FFFFFF;
    transition: box-shadow .6s ease-in-out;
}

.card:hover .svgcolor {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    transform: scale(1.1);
}

.csoluciones .svgcolor {
    width: 40%;
    filter: invert(44%) sepia(99%) saturate(499%) hue-rotate(159deg) brightness(87%) contrast(89%);
}

.csoluciones:hover {
    box-shadow: inset 0 -100vh 0 -1px #1F8EC7;
    color: white;
}

.view-first .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: rgba(31, 142, 199, 0.8);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.carousel-item {
    height: 55vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input[type],
textarea#texto {
    border-radius: 20px;
    background-color: white;
}

input[type]::placeholder,
textarea#texto::placeholder {
    color: black;
}

@media only screen and (min-width: 768px) {
    .header {
        background-image: url("../assets/images/sliders/soluciones.jpg");
    }
}